body {
  background-color: rgb(165, 208, 223);
  color: white;
  font-family: Verdana, sans-serif;
}

h1 {
  color:#1a3c5f;
  padding-top: 40px;
  padding-bottom: 5px;
  text-align: center;
}

h6{
  margin-bottom: 1rem;
  color:#1a3c5f;
  padding: 40px;
  text-align: center;
}

.form-control{ 
  border-radius: 20px;
  margin : 20px;
  padding: 10px;
}

.btn-btn-primary {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #354a61;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

#tags-container {
  text-align: center;
}

#tags-container span {
  background-color: #143352;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10%;
}


textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

